.btnAyuda {
  background: url(../imgs/inf.png) !important;
  width: 45px;
  height: 35px;
}

.ayuda {
  width: 100%;
}

.ayuda h1 {
  color: navy;
  font-size: 18;
  text-transform: uppercase;
}

.ayuda p {
  color: gray;
}

.ayuda img {
  width: 100px;
  border-radius: 50%;
  border: solid 2px navy;
}

.list-item .list-item-title {
    float:left;
    width:100%;
    font-size:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .list-item-text {
    float:left;
    width:100%;
    font-size:80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}
